h2 {
  font-size: x-large;
  margin-bottom: 5px;
}

.flex-container {
  display: flex;
  border: 1px dotted lightgray;
  background-color: white;
  height: 100px;
  margin: auto;
}

.flexbox {
  width: 25%;
  height: 75%;
  text-align: center;
  line-height: 100px;
}

.display-container {
  width: 300px;
  margin: auto;
}

#box-holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 80vh;
}

/* Visuals */
.justify-center {
  justify-content: center;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.purple {
  background-color: var(--default-accent-purple);
}

.light-purple {
  background-color: var(--default-accent-light-purple);
}

.green {
  background-color: var(--default-accent-green);
}
