.grid-container {
  display: grid;
  grid-template-areas: 
    "header header header"
    "main main sidebar1"
    "main main sidebar2"
    "footer footer footer";
  gap: 5px;
  background: lightgray;
  min-height: 100vh;
  font-size: 40px;
  width: 100%;
}

#box1 {
  background: var(--default-accent-green);
  grid-area: header;
}

#box2 {
  background: var(--default-accent-yellow);
  grid-area: main;
}

#box3 {
  background: var(--default-accent-pink);
  grid-area: sidebar1;
}

#box4 {
  background: var(--default-accent-red);
  grid-area: sidebar2;
}

#box5 {
  background: var(--default-accent-blue);
  grid-area: footer;
}