:root {
  --default-bg-color: rgb(244, 250, 252);
  --default-accent-purple: #b4ade6;
  --default-accent-light-purple: #ede7f5;
  --default-accent-green: #ade6bb;
  --default-title-bg-color: lightblue;
  --default-max-width: 800px;
}

* {
  font-family: sans-serif;
}

html {
  background-color: white;
}

body {
  background-color: var(--default-bg-color);
  margin: auto;
  box-shadow: 0 0 10px 10px var(--default-bg-color);
  min-width: 400px;
  max-width: var(--default-max-width);
  height: 100vh;
}

footer {
  position: relative;
  left: 5%;
  padding: 10px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

.title {
  position: relative;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--default-title-bg-color);
  border-left: .5px dotted black;
  border-right: .5px dotted black;
  border-bottom: .5px dotted black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 10px rgba(0, 0, 0, 0.23);
}

.info {
  font-style: italic;
  font-size: 12px;
}

.code {
  font-family: monospace;
  background-color: lightgray;
}

.underline {
  text-decoration: underline;
}

.coming-soon {
  text-transform: uppercase;
  font-style: italic;
  font-size: smaller;
}

#return {
  display: grid;
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: smaller;
}

/***** List Formatting *****/

.project-list {
  padding-left: 2em;
}

.project-list li {
  line-height: 2;
}

.project-list h4 {
  margin-top: 1.5em;
  margin-bottom: .75em;
}

ul.multi-level-list {
  padding-inline-start: 1em;
}

.multi-level-list li {
  margin-left: 2em;
}