body {
  font-family: sans-serif;
  background: lightblue;
  margin: auto;
  min-width: 400px;
  max-width: 600px;
}

.grid {
  display: grid;
  grid: 1hr repeat(6, 100px) 1hr / auto-flow;
}

footer {
  padding: 10px;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

h2 {
  font-size: 30px;
}

.title {
  /* border: 1px solid black; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  position: relative;
  padding: 10px;
  margin: auto;
  background: linear-gradient(22deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,.7) 96%) center center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Text Styling */
.info {
  font-style: italic;
  font-size: 12px;
  /* font-weight: lighter; */
}

.code {
  font-family: monospace;
  background-color: lightgray;
}

.underline {
  text-decoration: underline;
}

.coming-soon {
  text-transform: uppercase;
  font-style: italic;
  font-size: smaller;
}


/* List Formatting */
.project-list {
  line-height: 2;
}


/* Table Formatting */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  min-width: 300px;
  max-width: 600px;
} 

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

thead th{
  background-color: rgba(210, 210, 250, 0.5)
}

thead td {
  background-color: rgb(210,210,250);
} 

tr:nth-child(even) td {
  background-color: rgb(230,230,250);
}

tr:nth-child(odd) td {
  background-color: rgb(240,240,245);
}